/* For the create recipe window.*/
.mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}
/* Top of the window */
.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/*.dialog-title {
  width: 100%;
  text-align: center;
}*/

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


/* Informations tab */

.image-container {
  display: flex;
  justify-content: space-around;
}

.image {
  height: 100%;
}

.image-box {
  height: 30vh;
}

@media screen and (min-width: 550px) {
  .tab-content {
    width: 100%;
  }

  .image-box {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .tab-content {
    width: 100vw;
  }

  .image-box {
    width: 100%;
  }
}


.image-hover-shader {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-hover-shader img {
  visibility: hidden;
  height: 50px;
}

.image-hover-shader:hover {
  background-color: rgba(0,0,0,0.3);
}

.image-hover-shader:hover img {
  visibility: visible;
}

.small-margin-bottom {
  margin-bottom: 1em;
}

/* Time container */
.time-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.time-container md-form-field {
  width: 45%;
}

/* ---- END OF INFORMATIONS TAB -------- */

/* ---- Ingredients & Steps tab -------- */
.recipe-section {
  width: 570px;
}
