/* For the create recipe window.*/
.mat-form-field {
  width: 100%;
}

.mat-select {
  width: 100%;
}
/* Top of the window */
.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/*.dialog-title {
  width: 100%;
  text-align: center;
}*/

.tab-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}


/* Informations tab */
.image-container {
  display: flex;
  justify-content: space-around;
}

.image {
  height: 100%;
}

.image-box {
  height: 300px;
}

.recipe-info-inputs {
  width: 100%;
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-input {
  width: 30%;
}

@media screen and (min-width: 1100px){
  .tab-content {
    width: 1100px;
  }

  .recipe-info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .recipe-info-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .image {
    height: inherit;
  }

  .image-box {
    width: 500px;
  }

  .tab-content.ingredients-steps {
    justify-content: space-between;
    flex-direction: row;
  }

}

@media screen and (min-width: 550px) and (max-width: 1150px){
  .tab-content {
    width: 100%;
  }

  .image-box {
    width: 100%;
  }

  .tab-content.ingredients-steps {
    justify-content: center;
    flex-direction: column;
  }

}

@media screen and (max-width: 550px) {
  .tab-content {
    width: 100vw;
  }

  .image-box {
    width: 100%;
  }

  .tab-content.ingredients-steps {
    justify-content: center;
    flex-direction: column;
  }
}


.image-hover-shader {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-hover-shader img {
  visibility: hidden;
  height: 50px;
}

.image-hover-shader:hover {
  background-color: rgba(0,0,0,0.3);
}

.image-hover-shader:hover img {
  visibility: visible;
}

.small-margin-bottom {
  margin-bottom: 1em;
}

.medium-margin-bottom {
  margin-bottom: 1.5em;
}

/* ---- END OF INFORMATIONS TAB -------- */

/* ---- Ingredients & Steps tab -------- */
.recipe-section {
  width: 540px;
  margin-bottom: 1em;
}

.tab-content.ingredients-steps {
  display: flex;
  flex-wrap: wrap;
}

/* ---- Comments tab ---- */
.tab-content.comments-tab {
  justify-content: space-between;
  flex-direction: row;
}

.comments-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: space-around;
}

.rating-control {
  font-size: 2em !important;
}

/* Window's actions */
.delete-recipe-button {
  margin-right: 20px;
}
