/* For the view recipe window.*/

.window {
  width: 700px;  /* ~8.5 inches */
  min-height: 825px; /* 11 inches  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*  animation-name: expand;
  animation-duration: .9s;*/
}

/* Top of the window */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

/* Genre */
.recipe-genre {
  text-align:center;
  margin: 0;
  color: gray;
  font: caption;
  font-weight: normal;
  width: 100%;
  margin-top: -1em; /* To override the padding from the .mat-dialog-container */
  margin-bottom: 1.5em;
}

/* General recipe info */
.recipe-top-info {
  flex-grow: 1;
  margin-right: 5%;
}

.recipe-name {
  margin: 0;
}

.recipe-image {
  width: 200px;
  height: 200px;
  border:solid black 1px;
}

hr {
  border-color: lightgrey;
  border-top: 1px;
}

.recipe-portions-time {
  font-size: 0.9em;
  flex-grow: 1;
}

.recipe-portions-time p {
  display: inline-flex;
  align-items: center;
}

.size-20 {
  font-size: 1.2em;
}

/* Middle of the window */
.middle-section {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.section:not(:last-child) {
  margin-bottom: 25px;
}

/* Ingredients */
.recipe-ingredients {
  flex-basis: 45%;
}

.ingredient {
  display: flex;
  justify-content: space-between;
}

.ingredient:not(:last-child),
.step:not(:last-child) {
  margin-bottom: 0.2em;
}

.ingredient-quantity {
  padding-right: 10px;
  flex-shrink: 0;
  min-width: 87px;
}

.ingredient-name {
  flex-grow: 1;
}

.small-marginbottom {
  margin-bottom: 5px;
}

/* Steps */
.recipe-steps {
  flex-basis: 45%;
}

.step {
  text-align:justify;
}

.reset-counter {
  counter-reset: stepNumber;
}

.step:before {
  float:left;
  position: absolute;
  content: counter(stepNumber);
  counter-increment: stepNumber;
  margin-left: -1.5em;
}


/* Notes */
.note {
  margin-top: 5%;
  font-size: 0.95em;

}

.artisticFont {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 0.9em;
}

/* Loading state */
.shader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/*@keyframes expand {
    0%   {
      width: 0px;
      min-height: 0px;
    }
    100% {
      width: 700px;  /* ~8.5 inches */
      /*min-height: 825px; /* 11 inches  */
/*    }
}*/
