<md-list-item class="step" *ngFor="let step of steps; index as i; trackBy:trackByFn">
    <md-icon md-list-icon>assignment</md-icon>
    <div md-line>
      <md-form-field class="step-instruction">
          <input mdInput placeholder="Quoi faire à cette étape de la recette?" [(ngModel)]="steps[i]">
      </md-form-field>
    </div>
    <md-icon class="clickable display-when-hovered" color="accent" (click)="removeStep(i)" *ngIf="steps.length > 1">clear</md-icon>
</md-list-item>
<md-list-item>
  <button type="button" class="add-step" color="accent" (click)="addStep()" md-button>Ajoutez une étape</button>
</md-list-item>
