.size-2 {
  width: 60%;
}

.size-1 {
  width: 20%;
}

 .display-when-hovered {
  visibility: hidden;
  position: absolute;
  right: 4px;
  top: 10px;
  z-index: 3;
}

.step:hover .display-when-hovered {
  visibility: visible;
}

.step-instruction {
  width: 95%;
}

.add-step {
  width: 100%;
  height: 100%;
}
