<mat-list-item class="ingredient" *ngFor="let ingredient of ingredients; index as i">
    <mat-icon mat-list-icon>restaurant</mat-icon>
    <div mat-line>
      <mat-form-field class="ingredient-field size-2">
          <input matInput placeholder="Nom de l'ingrédient" name="name" [(ngModel)]="ingredient.name">
      </mat-form-field>
      <mat-form-field class="ingredient-field size-1">
          <input type="number" matInput placeholder="Quantité" name="quantity" [(ngModel)]="ingredient.quantity">
      </mat-form-field>
      <mat-form-field class="ingredient-field size-1">
          <input matInput placeholder="Unités" name="units" [(ngModel)]="ingredient.units">
      </mat-form-field>
    </div>
    <mat-icon class="clickable display-when-hovered" color="accent" (click)="removeIngredient(i)" *ngIf="ingredients.length > 1">
      clear
    </mat-icon>
</mat-list-item>
<mat-list-item>
  <button type="button" class="add-ingredient" color="accent" (click)="addIngredient()" mat-button>Ajoutez un ingrédient</button>
</mat-list-item>
