<form [formGroup]="parts" (mousedown)="keepFocus()">
    <input class="hours" formControlName="hoursDecimal" placeholder="0" (input)="updateTime()" (keydown)="handleKeydown($event, 'hoursDecimal')"
         #hoursDecimal onlyNumber>
    <input class="hours" formControlName="hoursUnit" placeholder="0" (input)="updateTime()" (keydown)="handleKeydown($event, 'hoursUnit')"
    #hoursUnit onlyNumber>
    <span class="separator" [ngClass]="{dimmed:displayedHours===''}" (mousedown)="keepFocus()">{{hoursSeparator}}</span>
    <input formControlName="minutesDecimal" placeholder="0" (input)="updateTime()" (keydown)="handleKeydown($event, 'minutesDecimal')"
         #minutesDecimal onlyNumber>
    <input formControlName="minutesUnit" placeholder="0" (input)="updateTime()" (keydown)="handleKeydown($event, 'minutesUnit')"
     #minutesUnit onlyNumber>
    <span class="separator" [ngClass]="{dimmed:displayedMinutes===''}" (mousedown)="keepFocus()">{{minutesSeparator}}</span>
</form>
