.main-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-container {
  width: 400px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-signin {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*.login-container fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/

.top-section {
  text-align: center;
}
