<div>
    <p>This is a grid layout</p>
    <div class="grid">
        <div class="col" *ngIf="columnCount >= 1" [ngStyle]="{'width.px': colWidth, 'margin.px': gutterSize}">
            <ng-content select=".col-1"></ng-content>
        </div>
        <div class="col" *ngIf="columnCount >= 2" [ngStyle]="{'width.px': colWidth, 'margin.px': gutterSize}">
            <ng-content select=".col-2"></ng-content>
        </div>
        <div class="col" *ngIf="columnCount >= 3" [ngStyle]="{'width.px': colWidth, 'margin.px': gutterSize}">
            <ng-content select=".col-3"></ng-content>
        </div>
        <div class="col" *ngIf="columnCount >= 4" [ngStyle]="{'width.px': colWidth, 'margin.px': gutterSize}">
            <ng-content select=".col-4"></ng-content>
        </div>
        <div class="col" *ngIf="columnCount >= 5" [ngStyle]="{'width.px': colWidth, 'margin.px': gutterSize}">
            <ng-content select=".col-5"></ng-content>
        </div>
        <div class="col" *ngIf="columnCount >= 6" [ngStyle]="{'width.px': colWidth, 'margin.px': gutterSize}">
            <ng-content select=".col-6"></ng-content>
        </div>
    </div>
</div>
