/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.button {
  font-weight: bold;
}

.capitalized::first-letter {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #EEEEEE;
}
