/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.button {
  font-weight: bold;
}

.capitalized::first-letter {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #EEEEEE;
}

.hidden {
  display: none;
}

.no-margin-bottom {
  margin-bottom: 0px !important; /* The important is needed when applied to a snackbar */
}

.no-margin {
  margin: 0px;
}

.no-bold {
  font-weight: normal;
}

label {
  font-family: 'Roboto', sans-serif;
}

.align-end {
  display: flex;
  flex-direction: row-reverse;
}

/*@-webkit-keyframes expand-height {
   0% {height: 0px;}
   100% {height: 200px;}
}

@keyframes expand-height {
   0% {height: 0px;}
   100% {height: 200px;}
}

.expand-height {
   -webkit-animation: expand-height 0.5s ease-in;
   animation: expand-height 0.5s ease-in;
   height: 200px;
}*/
